body {
    font-family: Verdana, Geneva, sans-serif;
}

.container {
    max-width: 1460px;
    padding: 0 10px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 0 auto;
}

.accordion-title {
    margin-left: 30px;
    margin-bottom: 50px;
}

.accordion-items {
    margin: 0 auto;
    width: 70%;
}

.accordion-item {
    border-top: 1px solid rgb(71, 67, 67);
    margin: 0 auto;
}

.accordion-item__header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-item__name {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:  2rem;
}

.accordion-input {
    appearance: none;
}

.accordion-input:hover ~ .accordion-item__label .accordion-item__img { 
    opacity: 1;
    max-height: 30rem;
    padding-bottom:  2rem;
} 

.accordion-input:checked ~ .accordion-item__label .accordion-item__img { 
    opacity: 1;
    max-height: 30rem;
    padding-bottom:  2rem;
}

.accordion-input:checked ~ .accordion-item__label .accordion-item__name {
    color: black;
}

.accordion-input:hover ~ .accordion-item__label .accordion-item__name .icon {
    transform: rotate(45deg);
}

.accordion-item__label {
    font-size: 24px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion-item__img {
    opacity: 0;
    margin: auto;
    max-height: 0;
    max-width: 30rem;
    overflow: hidden;

    transition: all .6s;
}

.icon {
    color: black;
    opacity: 0;
    transition: .2s;
}



.accordion-item__image {
    max-height: 30rem;
    max-width: 30rem;
}

@media (min-width: 821px) {
    .accordion-items:hover .icon {
        opacity: 1;
    }
    .accordion-item:hover .icon {
        opacity: 1;
    }
    .accordion-items:hover .accordion-item__name {
        color: black;
    }
}